/*Corp principale du site*/
body{
    margin: 0px;
    font-family:'Space Grotesk', sans-serif;
    color:#E1E0C9;
    background-color:#5A6049 ;
    background: linear-gradient(180deg,#5a5f50,#353833);
    font-size: 22px;
}
li{
    margin-bottom: 20px;
}
.container{
    max-width: 900px;
    margin: auto;
    padding: 60px 20px;
}
.card{
    background:rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 50px;
    padding: 22px;
    margin: 100px 0;
    box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.28),
    0 -10px 30px rgba(255, 255, 255, 0.18);
    transition: transform 0.52s ease, background-color 0.52s ease;
}
.card:hover{
    background-color: #5a5f50;
    transform: translateY(-10px) scale(1.1);
}
.card-in{
    opacity: 0;
    transform: translateY(50px);
    animation: cardSlide 1.6s ease forwards;
}
@keyframes cardSlide {
    to{
        opacity: 1;
        transform: translateY(-10px);
    }
}

/*Bouton*/
.contact{
    background:rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 50px;
    padding: 22px;
    margin: 100px 0;
    box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.28),      /* ombre en bas */
    0 -10px 30px rgba(255, 255, 255, 0.18); /* lumière en haut */
    transition: transform 0.52s ease, background-color 0.52s ease;
}
.texte{
    margin: 5px;
    width: flex;
}

/* en-tête du site*/
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #495049;
    background: linear-gradient(90deg,#5a5f50,#4a5046  );
    color:#E1E0C9;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.right{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}
/*information de tête*/
.subtitle{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight:400 ;
    color: #f1f1ea;
    margin: 0;
}
.source{
    background:rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 50px;
    padding: 22px;
    margin: 40px 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18) ;
    text-align: center;
    color: rgba(224, 224, 202, 0.25);
    font-size: 15px;
    transition: transform 0.52s ease, background-color 0.52s ease;
}
.Bonjour{
    width: auto;
}
.pres{
    font-size: 40px;
}

.Bonjour{
    opacity: 0;
    transform: translateY(50px);
    animation: BonjourSlide 0.8s ease forwards;
}
@keyframes BonjourSlide{
    to{
            opacity: 1;
            transform: translateY(0px);
        }
}
.para{
    opacity: 0;
    transform: translateY(50px);
    animation: paraSlide 1s ease forwards;
}
@keyframes paraSlide{
    to{
            opacity: 1;
            transform: translateY(0px);
        }
}

.about{
    margin-top: 80px;
    opacity: 0;
    transform: translateY(50px);
    animation: aboutSlide 1.3s ease forwards;
}
@keyframes aboutSlide {
    to{
        opacity: 1;
        transform: translateY(-20px);
    }
}
/*bouton de contact*/
.contact-btn{
    padding: 16px 32px;
    font-family:'Space Grotesk', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 10px ;
    background: #5A6049;
    color: #E1E0C9;
    font-size: 18px;
    font-weight: 300;
    transition: transform 0.12s ease, background-color 0.12s ease;

}
.github-btn{
     width: 45px;
    height: 45px;
    background: #5A6049;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left:auto;
    margin-right: 8px;
    justify-content: center;
    color: #E1E0C9;
    text-decoration: none;
    transition: transform 0.12s ease, background-color 0.12s ease;
}
.Game {
    padding: 16px 32px;
    font-family:'Space Grotesk', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 10px ;
    background: #595c55;
    color: #E1E0C9;
    font-size: 18px;
    font-weight: 300;
    transition: transform 0.12s ease, background-color 0.12s ease;
}
/*quand on passe la souris sur le bouton*/
.contact-btn:hover{
    background-color:#6a7058 ;
    transform: translateY(10px) scale(1.05);
}
.github-btn:hover{
    background-color:#6a7058 ;
    transform: translateY(10px) scale(1.05);
}
.Game:hover{
    background-color:#6a7058 ;
    transform: translateY(10px) scale(1.1);
}
.source:hover{
    background-color: rgba(255, 255, 255, 0.06);
    transform: translateY(-6px) scale(1.1);
}
.image{
    border-radius: 15px;
}




